<!doctype html>
<html lang="zh-CN">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- 反反盗链 -->
  <meta name="referrer" content="no-referrer" />
  <meta name="keywords" content="BiliBili, 评论转图片" />

  <meta name="og:description" content="由多度橙开发，能快速将Bilibili评论转成图片" />
  <meta name="og:title" content="Bilibili评论转图片神器" />
  <meta name="og:type" content="website" />

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="./node_modules/bootstrap-vue/dist/bootstrap-vue.min.css">
  <link rel="stylesheet" href="./style.css">
  <script src="./node_modules/vue/dist/vue.min.js"></script>
  <title>Bilibili评论转图片神器</title>
</head>

<body>
  <div class="container" style="margin-bottom: 5rem;">
    <div class="row mt-4">
      <div class="col-12 col-md-6 d-flex flex-column">
        <h1 class="text-primary mb-4">Bilibili评论转图片神器</h1>
        <div class="flex-grow-1">
          <img class="d-none d-md-block" src="./images/j9rSZOk.png" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <img class="copy-example" src="./images/BilibiliBVId.gif" alt="" />
        <p>此工具由<a href="http://mightyherox.me/"
            target="_blank">多度橙</a>开发，可以实现将Bilibili视频的评论区转换成PNG图片。应用场景如：呈现观众评论、评论互动、频道Q&amp;A，将会陆续完善其他功能，敬请期待。
        </p>
        <h5>目前功能特色：</h5>
        <ul>
          <li>无评论获取数量上限</li>
          <li>自由修改评论外观</li>
          <li>ZIP压缩包打包下载</li>
          <li>评论内容为文件名</li>
        </ul>
      </div>
    </div>
    <hr />
    <!-- 功能区 -->
    <div id="app">
      <p>例如：<a href="#" @click.prevent="BVId = '1B7411z7Lk'">1B7411z7Lk</a></p>
      <form class="form-inline mb-3">
        <input type="text" class="form-control" placeholder="步骤1：贴上视频BV号" v-model="BVId"
          :readonly="fetching || pending">
        <button type="button" class="btn btn-outline-dark ml-sm-2 mt-2 mt-sm-0" @click="getAVId(BVId)"
          :disabled="fetching || pending" v-if="BVId">
          <span class="align-middle">步骤2：获取</span>
          <div class="spinner-border spinner-border-sm" role="status" v-if="fetching">
            <span class="sr-only">处理中...</span>
          </div>
        </button>
      </form>
      <div class="form-row justify-content-around align-items-center mx-0 mb-3 px-3 pt-3 pb-2 bg-white rounded-lg"
        v-if="!fetching && count > 0">
        <div class="col-auto pb-2">
          <label class="mb-0" for="border-radius">调整圆角</label>
          <input type="range" id="border-radius" min="0" max="50" v-model="borderRadius" :disabled="pending" />
        </div>
        <div class="col-auto pb-2">
          <b-form-checkbox v-model="displayTime" switch>显示时间</b-form-checkbox>
        </div>
        <div class="col-auto pb-2">
          <b-form-checkbox v-model="darkTheme" switch>深色主题</b-form-checkbox>
        </div>
        <div class="col-auto pb-2">
          <select class="custom-select" v-model="perPage" :disabled="pending">
            <option value="20">20人</option>
            <option value="40">40人</option>
          </select>
        </div>
        <div class="col-auto pb-2">
          <select class="custom-select" v-model="mode" :disabled="pending">
            <option value=2>热度排序</option>
            <option value=0>时间排序</option>
          </select>
        </div>
        <div class="col-auto pb-2">
          <button type="button" class="btn btn-outline-primary" @click="downloadComments()" :disabled="pending">
            <span class="align-middle">步骤3：下载图片(.zip)</span>
            <div class="spinner-border spinner-border-sm" role="status" v-if="pending">
              <span class="sr-only">处理中...</span>
            </div>
          </button>
        </div>
      </div>
      <b-pagination v-model="currentPage" :total-rows="count" :per-page="perPage" prev-text="上一頁" next-text="下一頁"
        size="sm" v-if="count > perPage">
      </b-pagination>
      <!-- 评论区 -->
      <div class="d-flex flex-wrap align-items-start justify-content-center">
        <div class="comment" v-for="item in comments" ref="comment" :class="{ 'comment-dark': darkTheme }"
          :style="{ 'border-radius': borderRadius + 'px' }">
          <img class="author-thumbnail" :src="item.member.avatar" alt="" />
          <div class="comment-main">
            <div class="user-name" :class="{ 'user-name-dark': darkTheme }">{{ item.member.uname }}</div>
            <div class="content" :class="{ 'content-dark': darkTheme }" v-html="item.content.message"></div>
            <div class="published-time" v-if="displayTime">
              {{ timestampFormat(item.ctime) }}</div>
          </div>
        </div>
      </div>
    </div>

    <script src="./node_modules/jquery/dist/jquery.slim.min.js"></script>
    <script src="./node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="./node_modules/html2canvas/dist/html2canvas.min.js"></script>
    <script src="./node_modules/jszip/dist/jszip.min.js"></script>
    <script src="./node_modules/file-saver/dist/FileSaver.min.js"></script>
    <script src="./node_modules/axios/dist/axios.min.js"></script>
    <script src="./canvas.js"></script>
</body>

</html>