:root {
    --comment-general-background: #f9f9f9;
    --comment-text-primary: #222;
    --comment-text-secondary: #aaa;
    --comment-dark-background: #181818;
    --comment-dark-text-primary: #fff;
}

body{
    font-family: Microsoft JhengHei,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f2f2f2;
}
.copy-example {
    border: 1px solid #00a1d6;
    border-radius: 10px;
    margin: .625rem 0;
    opacity: .5;
    width: 100%;
}
.comment {
    background-color: var(--comment-general-background);
    display: flex;
    border-radius: 10px;
    margin: 4px;
    padding: 16px;
    width: 360px;
}

.comment-dark {
    background-color: var(--comment-dark-background);
}

.comment .author-thumbnail {
    border-radius: 50%;
    flex-shrink: 0;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.comment .comment-main .user-name {
    color: var(--comment-text-primary);
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    line-height: 18px;
    display: block;
}

.comment .comment-main .user-name-dark {
    color: var(--comment-dark-text-primary);
}

.comment .comment-main .content {
    color: var(--comment-text-primary);
    line-height: 20px;
    padding: 2px 0;
    font-size: 14px;
    overflow: hidden;
}

.comment .comment-main .content-dark {
    color: var(--comment-dark-text-primary);
}

.comment .comment-main .published-time {
    color: var(--comment-text-secondary);
    line-height: 26px;
    font-size: 12px;
}