:root {
    --comment-general-background: #f9f9f9;
    --comment-text-primary: #222;
    --comment-text-secondary: #aaa;
    --comment-dark-background: #181818;
    --comment-dark-text-primary: #fff;
  }
  
  body {
    font-family: Microsoft JhengHei, sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    background-color: #f2f2f2;
  }